h1 {
  background-color: rgb(87, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  width: auto;
  height: auto;
  position: sticky;
  top: 0%;
}

.container {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  perspective: 1000px;
}
.card {
  background-color: rgb(197, 197, 197);
  height: 350px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 8px 3px rgb(85, 2, 2);
  border-style: solid;
}
.burgercard {
  background-color: rgb(197, 197, 197);
  height: 350px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 8px 3px rgb(85, 2, 2);
  border-style: solid;
  position: relative;
}
.burger {
  width: 100%;
  height: 50%;
}
.zinger {
  width: 100%;
  height: 50%;
}
.fish {
  width: 100%;
  height: 50%;
}
.beef {
  width: 100%;
  height: 50%;
}
.chicken {
  width: 100%;
  height: 50%;
}
.pizza {
  width: 100%;
  height: 50%;
}
.card1 {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 350px;
  width: 250px;
}
.cell1:hover .card1 {
  transform: rotateY(180deg);
}
.burgercard,
.backcard {
  position: absolute;
  height: 350px;
  width: 250px;
  backface-visibility: hidden;
}
.backcard {
  background-color: rgb(197, 197, 197);
  height: 350px;
  width: 250px;
  transform: rotateY(180deg);
  margin: 20px;
  padding: 16px;
}
.cell1 {
  height: 350px;
  width: 310px;
  background-color: transparent;
  perspective: 1000px;
}
h2 {
  margin-bottom: 100px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.card2 {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 350px;
  width: 250px;
}
.cell2:hover .card2 {
  transform: rotateY(180deg);
}
.zinger-card,
.backcard2 {
  position: absolute;
  height: 350px;
  width: 250px;
  backface-visibility: hidden;
}
.backcard2 {
  background-color: rgb(197, 197, 197);
  height: 350px;
  width: 250px;
  transform: rotateY(180deg);
  margin: 20px;
  padding: 16px;
}
.cell2 {
  height: 350px;
  width: 310px;
  background-color: transparent;
  perspective: 1000px;
}
.zinger-card {
  background-color: rgb(197, 197, 197);
  height: 350px;
  width: 250px;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 5px 8px 3px rgb(85, 2, 2);
  border-style: solid;
  position: relative;
}
